
  <header class="header">
      <style>
          .bg-light {
              background-color: #2646B7 !important;
          }
          .navbar-light .navbar-brand{
              color: #fff ;
          }
          .navbar-light .navbar-nav .nav-link {
              color: #fff ;
          }
          </style>
      <div class="container-fluid">
          <!--<nav class="nav">
        <a class="logo" href="{% url 'first' %}">
            Задание на проектирование
        </a>
        <ul class="menu">

            <li>
                <a href="http://xn------5cdabbpnldcprfc4ag7bdhqdgn0ae1br.xn--p1ai:8080/ksi_page.php">
                    Справочник КСИ
                </a>
            </li>
            <li>
                <a href="{% url 'manual' %}">
                    Документация
                </a>
            </li>
            <li>
                <a href="http://xn------5cdabbpnldcprfc4ag7bdhqdgn0ae1br.xn--p1ai:8080/feedback_page.php">
                    Оставить отзыв
                </a>
            </li>
        </ul>
    </nav>-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'first' %}">Задание на проектирование</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="http://xn------5cdabbpnldcprfc4ag7bdhqdgn0ae1br.xn--p1ai:8080/ksi_page.php">Справочник КСИ </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'manual' %}">Документация</a>
                      </li>
                     
                      <li class="nav-item">
                          <a class="nav-link" href="http://xn------5cdabbpnldcprfc4ag7bdhqdgn0ae1br.xn--p1ai:8080/feedback_page.php" >Оставить отзыв</a>
                      </li>
                  </ul>
                 
              </div>
          </nav>
      </div>
  </header>

