<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    {% include "head.html"%}
    <title>Линейный ОКС</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(72651862, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/72651862" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-23MM5SG7YB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-23MM5SG7YB');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@20.3.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=62dab56e-7ecf-481a-8ecc-146260f21641&lang=ru_RU" type="text/javascript"></script>
  
    <script src="{% static 'js/map.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates.css' %}" />
</head>

{% include "header_person.html"%}
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<body>
<!-- 
    <style>
        #id_techeconompokazatel {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 250px;
        }
    </style> -->
    
    <form method="post" enctype="multipart/form-data" id="regForm">
        {% csrf_token %}
        {% load widget_tweaks %}
        {% load crispy_forms_tags %}
        <h4 style=padding-bottom:5px;>Заполнение технического задания на проектирование линейного объекта капитального строительства</h4>
   
      <fieldset>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">I. Общие данные
            <div class = "slices">
                {% for i in user.visible_fields %}{{i|as_crispy_field}}{% endfor %}
                <div id="map" style="width: 100%; height: 400px"></div>
                <table>
                    {% for lin in linear.visible_fields|slice:":18"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                    {% for lin in linear.visible_fields|slice:"30:35"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">Идентификационные признаки объекта
            <div class = "slices">
                <table>
                    {% for lin in linear.visible_fields|slice:"18:30"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">II. Требования к проектным решениям
            <div class = "slices">
                <table>
                    {% for lin in linear.visible_fields|slice:"35:36"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                    {% for lin in linear.visible_fields|slice:"53:55"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                    {% for lin in linear.visible_fields|slice:"76:92"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">Требования к конструктивным и объемно-планировочным решениям
            <div class = "slices">
                <table>
                    {% for lin in linear.visible_fields|slice:"36:53"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">Требования к основному технологическому оборудованию
            <div class = "slices">
                <table class="wrongTable" style=width:105%;>
                    {% for lin in linear.visible_fields|slice:"55:66"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">Требования к наружным сетям инженерно-технического обеспечения
            <div class = "slices">
                <table>
                    {% for lin in linear.visible_fields|slice:"66:76"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">III. Иные требования к проектированию
            <div class = "slices">
                <table>
                    {% for lin in linear.visible_fields|slice:"92:101"%}
                    <tr><td>{{lin|attr:'oninput=this.className="" '|as_crispy_field }}</td><td><div class="help-tip" id="{{lin.name}}"></div></td>   </tr>
                    {% endfor %}
                </table>
            </div>
          </div>
          <div class="tab">Вложенные документы
            <div class = "slices">
            {% for lin in linear.visible_fields|slice:"101:106"%}
            {{ lin|attr:'oninput=this.className="" '|as_crispy_field }}
            {% endfor %}
            {% for lin in linear_file.visible_fields%}
            {{ lin|attr:'oninput=this.className="" '|as_crispy_field }}
            {% endfor %}
            {% for lin in linear.visible_fields|slice:"106:"%}
            {{ lin|attr:'oninput=this.className="" '|as_crispy_field }}
            {% endfor %}
            </div>
          </div>
        <div style="overflow:auto; padding-top: 20px;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Предыдущий</button>
            <button type="button" id="skipBtn" onclick="skipTab()">Пропустить</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Далее</button>
          </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
        </div>
      </fieldset>
        <!-- <div class="container">
            <div class="myTitle">
                <p>Заполнение технического задания на проектирование линейного объекта капитального строительства</p>
                <input type="submit" name="" class="btn btn-primary" value="Отправить">
            </div> 

            <div>{% for i in user.visible_fields %}{{i|as_crispy_field}}{% endfor %}</div>
            <div>{% for lin in linear.visible_fields|slice:":2"%}{{lin|as_crispy_field}}{% endfor %}</div>
            <div id="map"></div>
             {% for lin in linear.visible_fields|slice:"7:8"%}
            <tr><td class="first_table"> {{ lin|as_crispy_field }} </td> <td class="second_table"> <div class="help-tip" id="{{lin.name}}"> </div></td> </tr>
            {% endfor %} 

        </div> -->

    </form>
    
    

   <script>
        //////////////////////////////////////////////////////////////////
        // подсказки для пукнтов с ссыылками на manual.html
        $("#osnovanie").append("<p>Если выбрано Другое, то в поле для реквизитов прописать основание<br><a href='manual.html#line1_1'>Ознакомиться с нормативной документацией</a></p>");
        $("#vidrabot").append("<p><a href='manual.html#line1_2'>Ознакомиться с нормативной документацией</a></p>");
        $("#techobespech").append("<p>Имеющиеся ТУ загрузить во вкладке 'Вложенные документы' с указанием реквизитов<br><a href='manual.html#line1_3'>Ознакомиться с нормативной документацией</a></p>");
        $("#etapistroitelsta").append("<p><a href='manual.html#line1_4'>Ознакомиться с нормативной документацией</a></p>");
        $("#start_date").append("<p><a href='manual.html#line1_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#end_date").append("<p><a href='manual.html#line1_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#naznachenie").append("<p><a href='manual.html#line2_1'>Ознакомиться с нормативной документацией</a></p>");
        $("#prinadlezhnost").append("<p><a href='manual.html#line2_2'>Ознакомиться с нормативной документацией</a></p>");
        $("#opasnieyavlenia").append("<p><a href='manual.html#line2_3'>Ознакомиться с нормативной документацией</a></p>");
        $("#urovenotvetstvennosti").append("<p><a href='manual.html#line2_4'>Ознакомиться с нормативной документацией</a></p>");
        $("#inzhinerniziskania").append("<p><a href='manual.html#line1_6'>Статья 47, часть 5.2 статьи 48 Градостроительного кодекса Российской Федерации [2] Части 1 и 3 статьи 15 Технического регламента о безопасности зданий и сооружений[3]</a></p>");
        $("#ohrana_okr_sredi").append("<p><a href='manual.html#line3_4'>Ознакомиться с нормативной документацией</a></p>");
        $("#obespeh_pozharn_bezop").append("<p><a href='manual.html#line3_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#invalidi").append("<p><a href='manual.html#line3_9'>Ознакомиться с нормативной документацией</a></p>");
        $("#technich_ekspluatacia").append("<p><a href='manual.html#line3_10'>Ознакомиться с нормативной документацией</a></p>");
        $("#proekt_organizacii_str").append("<p><a href='manual.html#line3_11'>Ознакомиться с нормативной документацией</a></p>");
        $("#snos_sohranenie").append("<p><a href='manual.html#line3_12'>Ознакомиться с нормативной документацией</a></p>");
        $("#nauchno_issled").append("<p><a href='manual.html#line3_13'>Ознакомиться с нормативной документацией</a></p>");
        $("#smetnaya_documentacia").append("<p><a href='manual.html#line6_1'>Ознакомиться с нормативной документацией</a></p>");

        $("#energy_effekt").append("<p>Не указываются в отношении объектов, на которые требования энергетической эффективности и требования оснащенности их приборами учета используемых энергетических ресурсов не распространяются Статьи <a href='http://www.consultant.ru/document/cons_doc_LAW_93978/4d65f8f0b5a5e943b470b72f05f5e6f9c2cb3b88/'>11</a>, <a href='http://www.consultant.ru/document/cons_doc_LAW_93978/69d7327911915248e5c4e69d2783fab65f64d6b0/'>12</a>, <a href='http://www.consultant.ru/document/cons_doc_LAW_93978/4667df597e53abd12e3908c1f960a866faea8a83/'>15</a>, <a href='http://www.consultant.ru/document/cons_doc_LAW_93978/9852c8414e3c7b47e109c80a089268c222ddad65/'>42</a> Федерального закона «Об энергосбережении и о повышении энергетической эффективности...»</p>");
        $("#energy_effekt_klass").append("<p><a href='manual.html#line3_6'>Ознакомиться с нормативной документацией</a></p>");
        $("#energy_effekt_kharakteristika").append("<p><a href='manual.html#line3_7'>Ознакомиться с нормативной документацией</a></p>");
        $("#energy_effekt_rekviziti").append("<p><a href='manual.html#line3_8'>Ознакомиться с нормативной документацией</a></p>");
        ////////////////////////////////////////////////////////////////////
        // 24 пункт
        $("#otoplenie").append("<p><a href='manual.html#line5_1'>Ознакомиться с нормативной документацией</a></p>");
        $("#ventilyacia").append("<p><a href='manual.html#line5_1'>Ознакомиться с нормативной документацией</a></p>");
        $("#vodoprovod").append("<p><a href='manual.html#line5_2'>Ознакомиться с нормативной документацией</a></p>");
        $("#kanalizacia").append("<p><a href='manual.html#line5_3'>Ознакомиться с нормативной документацией</a></p>");
        $("#electrosnabzhenie").append("<p><a href='manual.html#line5_4'>Ознакомиться с нормативной документацией</a></p>");
        $("#telefonizacia").append("<p><a href='manual.html#line5_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#radiofikacia").append("<p><a href='manual.html#line5_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#inthernet").append("<p><a href='manual.html#line5_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#televidenie").append("<p><a href='manual.html#line5_5'>Ознакомиться с нормативной документацией</a></p>");
        $("#gazifikacia").append("<p><a href='manual.html#line5_6'>Ознакомиться с нормативной документацией</a></p>");
        ////////////////////////////////////////////////////////////////////

        ////////////////////////////////////////////////////////////////////
        // посдказки, что будут видны на фронте
        $("#klassopasnosti").append("<p>При принадлежности объекта к опасным производственным объектам также указываются категория и класс опасности объекта<br><a href='http://docs.cntd.ru/document/9046058'>4.1 Подпункты «а», «в», «г» пункта 11 части 1 статьи 48.1 ГрК РФ [2]4.2 Статья 2, приложения 1 и 2 116 ФЗ</a></p>");
        $("#videlenie_etapov").append("<p>Поле будет доступно при необходимости выделить этапы</p>");
        $("#klassopasnosti_klass").append("<p>Указывается при принадлжености к опасным производственным объектам</p>");
        $("#klassopasnosti_category").append("<p>Указывается при принадлжености к опасным производственным объектам</p>");
        $("#categoryzdanii").append("<p><a href='http://docs.cntd.ru/document/1200071156'>статья 27 123-ФЗ; СП 12.13130.2009 [61]</a></p>");
        $("#stepenognya").append("<p><a href='http://docs.cntd.ru/document/1200071156'>статьи 30 и 87 123-ФЗ; СП 2.13130.2012 [52]</a></p>");
        $("#konstructive").append("<p><a href='http://docs.cntd.ru/document/1200071156'>статьи 31 и 87 123-ФЗ; СП 2.13130.2012 [52]</a></p>");
        $("#functionalpozar").append("<p><a href='http://docs.cntd.ru/document/1200071156'>статья 32 123-ФЗ</a></p>");
        $("#opasniobekt").append("<p>Указывается при принадлжености к опасным производственным объектам<br><a href='http://docs.cntd.ru/document/499038855'>ПРИКАЗ от 15 июля 2013 года N 306 Об утверждении Федеральных норм и правил в области промышленной безопасности 'Общие требования к обоснованию безопасности опасного производственного объекта'</a></p>");
        $("#proektniireshenia").append("<p>Указываются требования о том, что проектная документация и принятые в ней решения должны соответствовать установленным требованиям (необходимо указать перечень реквизитов нормативных правовых актов, технических регламентов, нормативных документов), а также соответствовать установленному классу энергоэффективности (не ниже класса 'С')</p>");
        $("#predelnstoimost").append("<p>Указывается стоимость строительства объекта, определенная с применением укрупненных нормативов цены строительства, а при их отсутствии - с учетом документально подтвержденных сведений о сметной стоимости объектов, аналогичных по назначению, проектной мощности, природным и иным условиям территории, на которой планируется осуществлять строительство</p>");
        /////////////////////////////////////////////////////////////////////

        
        // function enableDisableAll1(e) {
        //     var own = e;
        //     i = e.id
        //     var container = document.querySelector("#here1");
        //     var matches = container.querySelectorAll("textarea");
        //     console.log(matches);

        //     if (own.checked == true) {

        //         matches[i - 1].disabled = false;

        //     } else {

        //         matches[i - 1].disabled = true;
        //     }

        // }
        // function enableDisableAll2(e) {
        //     var own = e;
        //     i = e.id
        //     var container = document.querySelector("#here2");
        //     var matches = container.querySelectorAll("textarea");
        //     console.log(matches);

        //     if (own.checked == true) {

        //         matches[i - 1].disabled = false;

        //     } else {

        //         matches[i - 1].disabled = true;
        //     }

        // }
        ///////////////////////////////////////////////////////////
        // dadata
        $("#id_zastroichik, #id_investor, #id_projectorganization").suggestions({
            token: "36028ac652276f12c3436efaf9f6859f11d88015",
            type: "PARTY",
            onSelect: function (suggestion) {
                console.log(suggestion);
            }
        });
        ///////////////////////////////////////////////////////////

       

        //////////////////////////////////////////////////////////////
        // для пунктов, где выбор активирует поля


        // $("#id_techobespech_spravochnik_drugoe").prop("disabled", true);

        // var select2 = document.querySelector('#id_techobespech_spravochnik_7');
        // select2.addEventListener('change', () => {
        //     $("#id_techobespech_spravochnik_drugoe").prop("disabled", false);
        // });
        // $("#id_techobespech_spravochnik_drugoe").prop("disabled", true);

        // $("#id_videlenie_etapov").prop("disabled", true);
        // var select1 = document.querySelector('#id_etapistroitelsta');
        // select1.addEventListener('change', () => {
        //     if (select1.value == "Выделить этапы") {
        //         $("#id_videlenie_etapov").prop("disabled", false);
        //     }
        //     else {
        //         $("#id_videlenie_etapov").prop("disabled", true);
        //     }
        // });

        // $("#id_klassopasnosti_klass").prop("disabled", true);
        // $("#id_klassopasnosti_category").prop("disabled", true);
        // $("#id_opasniobekt").prop("disabled", true);
        // var select = document.querySelector('#id_klassopasnosti');
        // select.addEventListener('change', () => {
        //     if (select.value == "Принадлежит") {
        //         $("#id_klassopasnosti_klass").prop("disabled", false);
        //         $("#id_klassopasnosti_category").prop("disabled", false);
        //         $("#id_opasniobekt").prop("disabled", false);
        //     }
        //     else {
        //         $("#id_klassopasnosti_klass").prop("disabled", true);
        //         $("#id_klassopasnosti_category").prop("disabled", true);
        //         $("#id_opasniobekt").prop("disabled", true);

        //     }
        // });
        //////////////////////////////////////////////////////////////////
   
        /////////////////////////////////////////////////////////////////////
        // //предзаполнение
        // jQuery(document).ready(function () {
        //     $("#id_inzhinerniziskania").append("Выполнить инженерные изысканий в объеме, необходимом и достаточном для подготовки проектной документации.");

        //     $("#id_techeconompokazatel").append("Площадь:" + '\n' + "Объем:" + '\n' + "Протяженность:" + '\n' + "Количество этажей:" + '\n' + "Производственная мощность:" + '\n' + "Пропускная способность:" + '\n' + "Грузооборот:" + '\n' + "Интенсивность движения:" + '\n' + "Другие показатели:");
        // });
        ////////////////////////////////////////////////////////////////////

        ///////////////////////////////////////////////////////////////////////
        // подсказки для 18(21) пункта
        $("#materiali").append("<p>Указывается порядок направления проектной организацией вариантов применяемых материалов, изделий, конструкций, оборудования и их рассмотрения и согласования застройщиком (техническим заказчиком).</p>");
        $("#stroitelnie_konstrukcii").append("<p><a href='manual.html#line21.2'>Ознакомиться с нормативной документацией</a></p>");
        $("#fundament").append("<p>Указывается необходимость разработки решений фундаментов с учетом результатов инженерных изысканий, а также технико-экономического сравнения вариантов- предпочтительный тип фундаментов: ленточные, столбчатые, свайные, монолитная плита, комбинированные и т.п.<br> <a href = 'http://docs.cntd.ru/document/456054206'>СП 22.13330.2016 Основания зданий и сооружений.</a></p>");
        $("#steni_podvali_cokol").append("<p>Указывается необходимость применения материалов, изделий, конструкций либо определяются конкретные требования к материалам, изделиям, конструкциям <br><a href = 'http://docs.cntd.ru/document/456054206'>СП 22.13330.2016 Основания зданий и сооружений.</a></p>");
        $("#steni_naruzhn").append("<p>Указывается необходимость применения материалов, изделий, конструкций либо определяются конкретные требования к материалам, изделиям, конструкциям.<p>");
        $("#otdelka_vnutr").append("<p>Указываются эстетические и эксплуатационные характеристики отделочных материалов, включая текстуру поверхности, цветовую гамму и оттенки, необходимость применения материалов для внутренней отделки объекта на основании вариантов цветовых решений помещений объекта.</p>");
        $("#otdelka_naruzhn").append("<p>Указываются эстетические и эксплуатационные характеристики отделочных материалов, включая текстуру поверхности, цветовую гамму и оттенки, необходимость применения материалов для наружной отделки объекта на основании вариантов цветовых решений фасадов объекта.</p>");
        $("#bezopasnost").append("<p>Указываются в случае если строительство и эксплуатация объекта планируется в сложных природных условиях.<br><a href=''></a>384-ФЗ  Технический регламент о безопасности зданий и сооружений Статья 18.</p>");
        //$("#id_inzhinerniziskania").append("Выполнить инженерные изысканий в объеме, необходимом и достаточном для подготовки проектной документации.");
        $("#inzh_zashita").append("<p>Указываются в случае если строительство и эксплуатация объекта планируется в сложных природных условиях<br><a href='manual.html#line21.17'>Ознакомиться с нормативной документацией</a></p>");


        // 3 раздел

        $("#sostav_proektnoi_documentacii_spravochnik").append("<p>Указываются в соответствии с постановлением Правительства Российской Федерации от 16 февраля 2008 года N 87 'О составе разделов проектной документации и требованиях к их содержанию' (Собрание законодательства Российской Федерации, 2008, N 8, ст.744; 2010, N 16, ст.1920; N 51, ст.6937; 2013, N 17, ст.2174; 2014, N 14, ст.1627; N 50, ст.7125; 2015, N 45, ст.6245; 2017, N 29, ст.4368) с учетом функционального назначения объекта</p>");
        $("#standartizacia").append("<p>(частей таких стандартов и сводов правил), в результате применения которых на обязательной основе обеспечивается соблюдение требований Федерального закона 'Технический регламент о безопасности зданий и сооружений', утвержденный постановлением Правительства Российской Федерации от 26 декабря 2014 года N 1521 'Об утверждении перечня национальных стандартов и сводов правил(частей таких стандартов и сводов правил), в результате применения которых на обязательной основе обеспечивается соблюдение требований Федерального закона 'Технический регламент о безопасности зданий и сооружений'(Собрание законодательства Российской Федерации, 2015, N 2, ст.465; N 40, ст.5568; 2016 N 50, ст.7122)</p>");
        $("#spec_tech_uslovia").append("<p><a href='manual.html#line40'>Ознакомиться с нормативной документацией</a></p>");
        $("#demonstacii").append("<p>Указываются в случае принятия застройщиком (техническим заказчиком) решения о выполнении демонстрационных материалов, макетов<br>В пункте даётся поручение о подготовке демонстрационных материалов и определяется их состав (планшеты, изометрические чертежи, макеты, видеоматериалы для проведения видеопрезентации и интерактивной презентации, др.)</p>");
        $("#econom_effect_document").append("<p>Указывается требование о подготовке проектной документации с использованием экономически эффективной проектной документации повторного использования объекта капитального строительства, аналогичного по назначению, проектной мощности, природным и иным условиям территории, на которой планируется осуществлять строительство, а при отсутствии такой проектной документации - с учетом критериев экономической эффективности проектной документации</p>");
        $("#inform_modelirovanie").append("<p>Указываются в случае принятия застройщиком (техническим заказчиком) решения о применении технологий информационного моделирования<br><a href='manual.html#line43'>Ознакомиться с нормативной документацией</a></p>");

        //////////////////////////////////////////////////////////////////////



        // ////////////////////////////////////////////////////////////////////
        // // для 18 пункта
        // function funcEnable(e) {
        //     var own = e;
        //     var container = document.querySelector("#here");
        //     var matches = container.querySelectorAll("textarea");
        //     console.log(matches);

        //     if (own.checked == true) {
        //         for (var i = 1; i < 18; i++) {

        //             matches[i].disabled = true;
        //         }
        //         matches[20].disabled = true;
        //         for (var i = 21; i < 41; i++) {
        //             matches[i].disabled = true;
        //         }
        //     } else {
        //         for (var i = 1; i < 18; i++) {

        //             matches[i].disabled = false;
        //         }
        //         matches[20].disabled = false;
        //         for (var i = 21; i < 41; i++) {
        //             matches[i].disabled = false;
        //         }
        //     }
        // }
        //     ///////////////////////////////////////////////////////////////////



 

    </script> 
    <script>
        var current_fs, next_fs, previous_fs;
          var currentTab = 0; // Current tab is set to be the first tab (0)
          showTab(currentTab); // Display the current tab
    
          function showTab(n) {
            // This function will display the specified tab of the form...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n == 0) {
              document.getElementById("prevBtn").style.display = "none";
            } else {
              document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
              document.getElementById("nextBtn").innerHTML = "Отправить";
            //   document.getElementById("nextBtn").type = "submit";
            } else {
              document.getElementById("nextBtn").innerHTML = "Далее";
            }
            //... and run a function that will display the correct step indicator:
            fixStepIndicator(n)
          }
    
          function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
              if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
              // ... the form gets submitted:
              document.getElementById("regForm").submit();
              return false;
            }
            // Otherwise, display the correct tab:
            //de-activate current step on progressbar
            
            showTab(currentTab);
          }
          
        function skipTab(){
            var x, y, i, valid = true;
            var z, inputT, total, j = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].querySelectorAll('[required]');
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
              if (y[i].value == "") {
                y[i].append("Не заполнено");
              } 
            }
        }
          
          function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            var z, inputT, total, j = true;
            x = document.getElementsByClassName("tab");
    
            y = x[currentTab].querySelectorAll('[required]');
    
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
              // console.log(x[i].hasAttribute('required'));
              // If a field is empty...
              if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false
                valid = false;
              } else {
                z = document.getElementsByTagName("textarea");
                for (j = 0; j < z.length; j++) {
                  z[j].className += 'textarea form-control';
                }
              }
            }
    
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
    
              document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
          }
    
          function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
              x[i].className = x[i].className.replace(" active", "");
              $("#progressbar li").eq(i).removeClass("active");
            }
            //... and adds the "active" class on the current step:
            x[n].className += " active";
            $("#progressbar li").eq(n).addClass("active");
          }
      // dadata
      $("#id_zastroichik, #id_investor, #id_projectorganization").suggestions({
            token: "36028ac652276f12c3436efaf9f6859f11d88015",
            type: "PARTY",
            onSelect: function (suggestion) {
                console.log(suggestion);
            }
        });
    </script>
    
</body>

</html>
